<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Bem-vindo(a) ao Ferrugem Games</title>
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../static/assets/css/styles.min.css" />
  <link rel="icon" type="image/x-icon" href="../static/assets/img/favicon.ico">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72" style="">


  <!-- NAVBAR -->
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container">
      <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <img src="../static/assets/img/ferruege%20games.png" width="110" height="53" href="index.html" />

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Loja</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#games">Games</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#suporte">Suporte</a>
          </li>
        </ul>
        <button class="btn-navbar"><span>Carrinho</span> </button>
      </div>
    </div>
  </nav>

  <!-- COMEÇO  -->
  <header class="text-center text-white bg-primary masthead" style="
        background: linear-gradient(#364a63 52%, #8ca3c0 83%), var(--bs-danger);
      ">
    <img src="../static/assets/img/ferrugeGamesEscrito.png" />
    <br>
    <br>
    <div class="card-group" style="margin: 0rem;padding: 10rem;">

      <!--linha 1-->
    <!--Cards-->
      <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
       <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    <!--card2-->
    <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/cyber2077" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    <!--card3-->
    <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    <!--linha 2-->
    <!--card4-->
    <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    <!--linha 3-->
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    <!--linha 4-->
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
     <!--card4-->
     <div class="card2" style="margin: 2rem; background: var(--bs-blue);">
      <img class="card-img-top w-100 d-block" />
      <div class="card-body">
        <h4 class="card-title" href="godofwar.html" >God of War Ragnarok</h4>
        <br>
        <br>
        <img src="static/assets/img/game1.jpg" class="img-thumbnail" alt="God-Ragnarok-Card" href="godofwar.html"/>
        <br>
        <br>
      </div>
    </div>
    </div>
    <footer class="text-center footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Localidade</h4>
            <p>Av. Paulista, 2000 - Bela Vista, São Paulo - SP</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase">Mídias Sociais</h4>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                    class="fa fa-facebook fa-fw"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                    class="fa fa-google-plus fa-fw"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                    class="fa fa-twitter fa-fw"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light text-center btn-social rounded-circle" role="button" href="#"><i
                    class="fa fa-dribbble fa-fw"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Sobre Ferrugem Games</h4>
            <p class="lead mb-0">
              <span>Loja inspirada nas grandes lojas onlines hoje já disponíveis,
                como Steam, Green Man Gaming e GOG.com. &nbsp;</span>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div class="text-center text-white copyright py-4">
      <div class="container">
        <small>Copyright ©&nbsp;Ferrugem Games 2022</small>
      </div>
    </div>
        </body>

        </html>
      